/* Header */
.header{
    position: sticky;
    height: 120px;
    top: 0;
    z-index: 10;
    margin-bottom: 1.6rem;
}

.header__off{
    position: unset;
}

.header__up{
    width: 100%;
    background-color: #00adef;
    height: 50px;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    align-items: center;
}

.header__up--all{
    justify-content:space-between ;
    padding-left: 1rem;
    padding-right: 1rem;
}

.header__up__menu-390{
    display: none;
}

.header__up__menu-390__list{
    visibility: hidden;
    opacity: 0;
    margin-left: -100px;
    max-width: 100px;
    overflow: hidden;
    z-index: -1;
}

/* Logo */
.header__up__logo{
    width: 290px;
    justify-content: center;
    position: relative;
}

.logo__img__dow{
    position: absolute;
    display: block;
    width: 290px;
    left: 0;
    top:44px;
    /* z-index: 20; */
}

/* Search-bar */
.header__up__search-bar{
    position: relative;
    display: block;
    max-width: 470px;
    width: 470px;
    margin-top: 0.25rem;
}

.search-bar--m{
    position: relative;
}

.search-bar__input{
    width: 100%;
    height: 44px;
    box-sizing: border-box;
    border: 1px solid #000;
    border-radius: 200px;
}

.search__btn{
    position: absolute;
    margin-right: 1.75rem;
    height: 40px;
    right: 0;
    border: 0 solid ;
    background-color: #fff;
}

.search__btn__icon{
    max-width: 100%;
    height: auto;
}

.search-bar__category{
    position: absolute;
    height: 2.5rem;
    top: 0;
}
/* User */
.user__log-sig{
    padding-right: 20px;
}

.user__log-in{
    box-sizing: border-box;
    border-right: 1px solid #fff !important;
    cursor: pointer;
}

.icon__cart{
    padding-right: 10px;
    padding-left: 4px;
}

.header__dow{
    display: block;
    width: 100%;
    background-color: #0098d2;
    height: 50px;
    position: relative;
}
/* Nav-bar */
.header__dow__nav-bar{
    padding-left: 1rem;
    padding-right: 1rem;
    box-sizing: border-box;
}

.nav-bar{
    display: block;
}

.nav-bar__list{
    list-style: none;
    justify-content: space-between;
    margin-top: 0;
    flex-direction: row;
}

.list__link{
    text-decoration: none;
    color: #fff;
    
}

/* Menu */
.menu__box{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: transparent;
    border: 0;
}

.menu__text{
    padding-left: 10px;
    color: #fff;
    font-weight: 700;
}

.icon__btn{
    color: #fff;
}

.menu__btn{
    padding: 0 !important;
    width: 22% !important;
}

.list__menu__box{
  display: none;
}

.list__menu__box__show{
    display: block;
}

.list{
    padding-top: 16px;
}

.menu__box__btn{
    padding: 14px 0;
}

/* Slide */

.slide{
    margin-bottom: 2rem;
    justify-content: flex-end;
}

.slide__menu{
    background-color: #fff;
    padding: 1rem;
}

.slide__menu__header{
    margin: 0;
    border-left:  4px solid rgb(156, 153, 153);
    border-bottom: 1px solid rgb(156, 153, 153);
    padding-left: 6px;
}

.slide__menu__list{
    padding: 0;
    margin: 0;
    background-color: #eaeaea;
    
}

.menu-list{
    list-style: none;
    border-bottom: 1px solid rgb(156, 153, 153);
    border-left: 4px solid rgb(156, 153, 153);
    color: #000;
}

.slide__slide{
    padding-top: 20px;
    justify-content: space-between;
    max-width: 100%;
}

.bnt__silde {
    position: absolute;
    top: 0;
    bottom: 0;
    border: 0 ;
    background: transparent;
    color: #edf4f7;
}

.bnt__2{
    right: 0;
}

/* Banner */
.banner__img{
    margin-bottom: 54px;
    justify-content: space-between;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    padding-bottom: 1rem;
    padding-top: 1rem;
}

.banner__img-longer{
    margin-top: 15px;
    justify-content: center;
}

.img-longer{
    border-top-left-radius:2rem ;
}

.loca-1{
    order: 1;
    border-top-left-radius: 2rem;
    border-bottom-left-radius: 2rem;
}
.loca-2{
    order: 2;

}
.loca-3{
    order: 3;
  
}
.loca-4{
    order: 4;
    border-top-right-radius: 2rem;
    border-bottom-right-radius: 2rem;
}

/* Best sell */
.best-sell{
    background-color: #edf4f7;
    margin-top: 80px;
}

.best-sell__box{
    position: relative; 
    top: -1.25rem;
}

.best-sell__box__header{
    padding-left: 1rem;
}

.best-sell__box__items__list{
    padding-bottom: 4rem;
    padding-top: 6rem;
    margin-top: 4rem;
    position: relative;
}

.item-1{
    background-color: #fff;
    border-radius: 0.75rem;
}

/* New Products */
.new-products{
    position: relative;
}

.new-products__header{
    top: -1.25rem;
    position: absolute;
    right: 0;
    left: 0;
}

.new-products__header__img{
    justify-content: center;
}

.header__img{
    width: 390px;
}

.new-products__table{
    margin-top: 4rem;
}

.new-products__table__header{
    font-weight: 900;
    font-size: 1.5rem;
    line-height: 2rem;
    text-align: center;
    background-color: #cbecf7;
    color: #0098d2;
    border-top-left-radius: 0.75rem;
    border-top-right-radius: 0.75rem;
    padding-top: 1.75rem;
    padding-bottom: 1rem;
}

.new-products__table__body{
    margin-bottom: 4rem;
    display: grid;
    border-bottom: 1px  solid;
    border-right: 1px solid ;
    border-color: rgb(231, 229, 229);
}

.table__body__link{
    border-top: 1px solid #eaeaea;
    border-left: 1px solid #eaeaea;
    color: inherit;
    text-decoration: none;
}

.table__body__box{
    text-align: center;
    padding-bottom: 2.5rem;
    border-radius: 0.75rem;
}

.body__box__img{
    justify-content: center;
}

.table__img{
    max-height: 16rem;
}

.body__box__text{
    font-weight: 600;
    padding-top: 0.375rem;
    margin: 0;
}

.body__box__price{
    color: #00adef;
    line-height: 1.5rem;
    font-size: 1.125rem;
    padding-top: 0.25rem;
    margin: 0;
}

.new-products__table__btn__link{
    color: inherit;
    text-decoration: inherit;
}

.new-products__table__btn{
    justify-content: center;
}

.btn{
    background-color: #0069aa;
    line-height: 1.75rem;
    font-size: 1.125rem;
    padding-left: 3rem;
    padding-right: 1.5rem;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    border-radius: 9999px;
    color: #fff;
    align-items: center;
    cursor: pointer;
    border: 0;
}

.btn__icon{
    padding-left: 1rem;
}
/* News */
.news{
    background-color: #edf4f7;
    margin-top: 4rem;
}

.box__inside{
    top: -1.25rem;
}

.news__more{
    top: 0;
    bottom: 0;
    right: 0;
    padding-top: 2.5rem;
    padding-right: 2rem;
    padding-bottom: 1rem;
    text-decoration: none;
}

.news__more__box__btn{
    font-weight: 600;
    font-size: 1.125rem;
    line-height: 1.75rem;
    color: #0069aa;
    border: none;
}

.new__box__tag{
   padding-bottom: 5rem;
   padding-top: 6rem;
}

.box__tag__all{
    display: block;
    outline: none;
    width: 390px;
    padding-left: 15px;
    padding-right: 15px;
}

.box__tag__link{
    text-decoration: none;
    color: #000;
}

.box__tag__img{
    border-radius: 0.75rem;
}

.box__tag__text{
    border-bottom-left-radius: 0.75rem;
    border-bottom-right-radius: 0.75rem;
    background-color: #fff;
    margin-top: -1.5rem;
}

.box__tag__text__inside{
    background:url(/_next/static/media/post_absoluse.32fa17fbad0301b23904a909646ea06f.png);
    background-position: top;
    background-size: 100% auto;
    background-repeat: no-repeat;
}

.box__tag__text__back{
    padding-left:1.75rem ;
    padding-right: 1.75rem;
    padding-top: 2.5rem;
    padding-bottom: 1.5rem;
    line-height: 1.25rem;
    top: 0;
    
}

.tag__text_header{
    font-size: 1.125rem;
    line-height: 1.75rem;
    font-weight: 600;
    margin: 0;
    text-decoration-line: none;
}
/* Footer */
.footer__box{
    background: url(/img/background.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: 50%;
}

.footer__deal{
    padding-bottom: 3.5rem;
    padding-top: 2.25rem;
}

.footer__deal__box{
    text-align: center;
    color: #fff;
}

.deal__box__text{
    padding-left: 11rem;
    padding-right: 11rem;
    font-size: 2.25rem;
    line-height: 2.5rem;
    font-weight: 600;
    margin: 0;
    text-align: center;
}

.deal__box__input{
    margin-top: 2.25rem;
}

.deal__box__input__text{
    justify-content: center;
    align-items: center;
    width: 570px;
}

.input__text{
    box-sizing: border-box;
    border: 0 solid;
    outline-offset: 2px;
    line-height: 1.25rem;
    font-weight: 500;
    font-size: 1.125rem;
    padding-left: 4rem;
    border-bottom-width: 1px;
    background-color: transparent;
    border-color: #fff;
    outline: 0;
}

.deal__box__input__bnt{
    align-items: center;
    height: 100%;
    right: 0;
    top: 0;
    color: #fff;
    text-align: center;
}

.input__bnt{
    font-size: 1.125rem;
    line-height: 1.75rem;
    background-color: #fff;
    border-radius: 999px;
    color: #0069aa;
    border: 0 solid;
    cursor: pointer;
}

.deal__box__input__icon{
    top: 0;
    left: 0;
    height: 100%;
    max-width: 50px;
}

.footer__link{
    background-color: #0069aa;
}

.link__box{
    display: grid;
    gap: 0.75rem;
}

.link__box__all{
    flex-direction: column;
}

.link__box__inside{
    text-decoration: none;
    justify-content: flex-end;
    color: #fff;
}

.link__inside{
    font-weight: 500;
}

.link__icon{
    margin-right: 0.625rem;
    height: auto;
    display: block;
    vertical-align: middle;
}

.footer__contacts__box{
    overflow: hidden;
    background: url(/img/background-footer.png);
    background-size: 100%;
}

.background__img{
    top: 0;
    height: 404px;
}

.footer__contacts__logo{
    z-index: 10;
    justify-content: center;
}

.logo__footer{
    height: auto;
    padding-top: 2.5rem;
}

.footer__contacts__location{
    font-weight: 400;
    text-align: center;
    z-index: 10px;
}

.footer__contacts__line{
    justify-content: center;
    z-index: 10;
}

.footer__contacts__end{
    padding-top: 1.25rem;
    padding-bottom: 1.5rem;
    text-align: center;
    z-index: 10;
    color: #00adef;
}

/* Authen modal */
.modal__overlay{
    z-index: 20;
}

.modal__body{
    z-index: 20;
}

.auth-form{
    width: 600px;
}

.auth-form__container{
    padding: 0 32px;
}

.auth-form__header{
    align-items: center;
    justify-content: space-between;
    padding: 0 12px;
}

.auth-form__heading{
    font-size: 2.2rem;
    font-weight: 400;
}

.auth-form__btn{
    font-size: 1.6rem;
    color: #0098d2;
    font-weight: 600;
    cursor: pointer;
}

.auth-form__form{
    
}

.auth-form__input{
    width: 100%;
    height: 40px;
    margin-top: 16px;
    /* padding: 0 12px; */
    font-size: 1.4rem;
    border: 1px solid #dbdbdb;
    border-radius: 4px;
    outline: none;
}

.auth-form__control{
    margin-top: 80px;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 20px;
}

.bnt--back{
    margin-right: 8px;
}

.auth-form__socials{
    background-color: #bebaba;
    padding: 12px 36px;
    display: flex;
    justify-content: space-between;
    font-size: 12px;
}

.bnt--with-icon{
    padding: 0 4px !important;
}

.social__icon{
    font-size: 1.6rem;
}

.fb{
    background-color: #3A5A98 !important;
    color: #fff;
}

.icon--fb{
    color: #fff;
}

.socials--title{
    margin: 0 12px
}

.gg{
    color: #666;
    background-color: #fff;
}

.auth-form__aside{
    margin-top: 16px;
}

.auth-form__help{
    display: flex;
    justify-content: flex-end;
}

.auth-form__help-link{
    text-decoration: none;
    font-size: 1.2rem;
}

.auth-form__help-space{
    display: block;
    border-left: 1px solid #dbdbdb;
    margin: 0 16px;
}

.auth-form__help-ps{
    color: #0098d2;
    cursor: pointer;
}

.auth-form__help-text{
    color: #939393;
}